<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>

<div>
  <h2>Code hosted here</h2>
  <a href="https://github.com/frank-west-iii/policy_based_views">https://github.com/frank-west-iii/policy_based_views</a>
</div>

<div id="passwords">
  <h2>Logins</h2>

  <h3>SMB</h3>

  email: smb@example.com<br>
  password: password

  <h3>Enterprise</h3>

  email: enterprise@example.com<br>
  password: password
</div>
