<li class="has-dropdown">
<a href="#">Menu</a>
<ul class="dropdown">
  <li><a href"#">Enterprise Item 1</a></li>
  <li><a href"#">Enterprise Item 2</a></li>
  <li><a href"#">Enterprise Item 3</a></li>
</ul>
</li>
